.content-editor-wrapper {
  .content-editor {
    .ql-editor {
      min-height: 200px;
      overflow-y: hidden;
      resize: vertical;

      iframe {
        pointer-events: none;
      }
    }
  }
}
